* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-menu {
    background-color: #4060a1;
    height: 50px;
}

.header-menu {
    color: #FFF;
}

.navbar-brand {
    color: #FFF;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
    text-decoration: none;

}

.navbar .navbar-brand:hover {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}



.navbar-nav .nav-link {
    color: #FFF;
    border-bottom: 1px solid transparent;
    transition: 0.5s;

}

.navbar-nav .nav-link:hover {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}


.home {
    background-color: rgb(211, 207, 207);
    height: 100vh;
}

.footer {
    background-color: #4060a1;
    height: 50px;
    margin-bottom: 0;
}