{% extends "navbar.njk" %}
{% set title = "Home" %}
{% block style %}{% endblock %}
{% block content %}
    <section class="home d-flex align-items-center" id="home">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-xl-6">
                    <h1 class="text-balck">Registre seu Evento Acadêmico</h1>
                    <button class="btn btn-primary px-3">
                        <a class="link-registrar" href="/form">Registrar<i class="bi bi-caret-right-fill"></i>
                        </a>
                    </button>
                </div>
                <div class="col-xl-6">
                    <img src="/imgs/img-mapa.jpg" alt="mapa">
                </div>
            </div>
        </div>
    </section>
{% endblock %}